
.page{
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
}
.criminalsContainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  /* padding: 30pt; */
  /* -moz-box-shadow:    3px 3px 5px 6px rgb(138, 137, 137);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(138, 137, 137); */
  box-shadow:         10px 10px 5px 6px rgb(138, 137, 137);
  width: 100%;
  min-height: 600px;
  justify-content: center;

}

.criminal {
  flex-basis: 20%;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 8pt;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  box-shadow: 5px 5px 5px 6px rgb(138, 137, 137);

  
  /* justify-content: center; */
}
.witness {
  flex-basis: 20%;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding: 8pt;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  box-shadow: 5px 5px 5px 6px rgb(138, 137, 137);
}

.criminal__name{
  background-color: rgb(10, 10, 37);
  color: white;
  height: 25pt;
  padding: 5pt;
}

.criminal__info {
  flex-basis: 10%
}

.pageTitle {
  text-align: center;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 2px 2px 2px rgba(202,202,202,0);
color: #333333;
background: #FFFFFF;
font-size: 45pt;
margin: 30pt;
border-bottom: 3px solid rgb(18, 18, 114);
align-content: center;
width: 100%;
}

.crimeDropdown {
  box-shadow: grey;
}

.noteFormContainer {
  /* border: 1px solid black; */
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
  box-shadow:         10px 10px 5px 6px rgb(138, 137, 137);

  width: 100%

}

.container {
  /* margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px; */
  /* padding: 30pt; */
  display: flex;
  flex-direction: column;
  max-width: 900px;

}

.filters {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  
}

.form {
  padding: 10pt;
  max-height: 500px
 
}

.page {
  max-width: 900px;
  display: flex;
flex-direction: column;
justify-content: center;
}

.notesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px;
  max-width: 900px

}

.note {
  flex-basis: 30%;
  margin: 20pt;
  max-width: 170pt
}









